<%- model_class = Ordo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <% if user_signed_in? %><% if current_user.has_role? :editor %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %><% end %>
    </tr>
  </thead>
  <tbody>
    <% @ordos.each do |ordo| %>
      <tr>
        <td><%= link_to ordo.id, ordo_path(ordo) %></td>
        <td><%= ordo.code %></td>
        <td><%= ordo.title %></td>
        <% if user_signed_in? %><% if current_user.has_role? :editor %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ordo_path(ordo), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ordo_path(ordo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
        <% end %><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ordo_path,
            :class => 'btn btn-primary' %>
