<%- model_class = Calendar -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:ordo_id) %>:</strong></dt>
  <dd><%= @calendar.ordo_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @calendar.data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rank_id) %>:</strong></dt>
  <dd><%= @calendar.rank_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:season_id) %>:</strong></dt>
  <dd><%= @calendar.season_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color_id) %>:</strong></dt>
  <dd><%= @calendar.color_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:week_in_season) %>:</strong></dt>
  <dd><%= @calendar.week_in_season %></dd>
  <dt><strong><%= model_class.human_attribute_name(:day_of_week) %>:</strong></dt>
  <dd><%= @calendar.day_of_week %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @calendar.title %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              calendar_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_calendar_path(@calendar), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              calendar_path(@calendar),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
