<%= simple_form_for @calendar, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :ordo_id %>
  <%= f.input :data %>
  <%= f.input :rank_id %>
  <%= f.input :season_id %>
  <%= f.input :color_id %>
  <%= f.input :week_in_season %>
  <%= f.input :day_of_week %>
  <%= f.input :title %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                calendars_path, :class => 'btn' %>
  </div>
<% end %>
