<%- model_class = Calendar -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @q do |f| %>
<div  class="form-inline">
	<%= f.label :data_gteq, "Date from"  %>
	<%= f.text_field :data_gteq %>
	<%= f.submit "Show" %>
   </div>

<% end %>

<%= will_paginate @calendars %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ordo_id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:rank_id) %></th>
      <th><%= model_class.human_attribute_name(:season_id) %></th>
      <th><%= model_class.human_attribute_name(:color_id) %></th>
      <th><%= model_class.human_attribute_name(:wk_in_seas) %></th>
      <th><%= model_class.human_attribute_name(:day_of_wk) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <% if user_signed_in? %><% if (current_user.has_role? :editor) or (current_user.has_role? :admin) %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %><% end %>
    </tr>
  </thead>
  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
	    <td><%= calendar.ordo.code %></td>
	    <td><%= link_to calendar.data.strftime("%b %d %Y"), calendar_path(calendar) %></td>
        <td><%= calendar.rank %></td>
        <td><%= calendar.season.code %></td>
        <td><%= calendar.color %></td>
        <td><%= calendar.week_in_season %></td>
        <td><%= calendar.day_of_week %></td>
        <td><%= calendar.title %></td>

        <% if user_signed_in? %>
			<% if (current_user.has_role? :editor) or (current_user.has_role? :admin) %>
	        <td>
	          <%= link_to t('.edit', :default => t("helpers.links.edit")),
	                      edit_calendar_path(calendar), :class => 'btn btn-mini' %>

	          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                      calendar_path(calendar),
	                      :method => :delete,
	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                      :class => 'btn btn-mini btn-danger' %>
	        </td>
        	<% end %>
 		<% end %>
      </tr>
    <% end %>

  </tbody>
</table>
<%= will_paginate @calendars %>
<% if user_signed_in? %><% if (current_user.has_role? :editor) or (current_user.has_role? :admin) %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_calendar_path,
            :class => 'btn btn-primary' %>
<% end %><% end %>
