<%- model_class = Calendar -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cal_date) %>:</strong></dt>
  <dd><%= @calendar.cal_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:season) %>:</strong></dt>
  <dd><%= @calendar.season %></dd>
  <dt><strong><%= model_class.human_attribute_name(:week) %>:</strong></dt>
  <dd><%= @calendar.week %></dd>
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @calendar.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rank) %>:</strong></dt>
  <dd><%= @calendar.rank %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @calendar.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @calendar.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              calendars_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_calendar_path(@calendar), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              calendar_path(@calendar),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
