<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @calendar.data %>
</p>

<p>
  <b>Season:</b>
  <%= @calendar.season_id %>
</p>

<p>
  <b>Week:</b>
  <%= @calendar.week %>
</p>

<p>
  <b>Day of week:</b>
  <%= @calendar.day_of_week %>
</p>

<p>
  <b>Rank:</b>
  <%= @calendar.rank_id %>
</p>

<p>
  <b>Color:</b>
  <%= @calendar.color_id %>
</p>

<p>
  <b>Title:</b>
  <%= @calendar.title %>
</p>


<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
