<%- model_class = RomanCalendar -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:feast_day) %>:</strong></dt>
  <dd><%= @roman_calendar.feast_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rank_id) %>:</strong></dt>
  <dd><%= @roman_calendar.rank_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @roman_calendar.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @roman_calendar.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              roman_calendars_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_roman_calendar_path(@roman_calendar), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              roman_calendar_path(@roman_calendar),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
