<%= form_for(@common_feast) do |f| %>
  <% if @common_feast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common_feast.errors.count, "error") %> prohibited this common_feast from being saved:</h2>

      <ul>
      <% @common_feast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :common_id %><br />
    <%= f.number_field :common_id %>
  </div>
  <div class="field">
    <%= f.label :feast_id %><br />
    <%= f.number_field :feast_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
