<h1>Listing common_feasts</h1>

<table>
  <tr>
    <th>Common</th>
    <th>Feast</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @common_feasts.each do |common_feast| %>
  <tr>
    <td><%= common_feast.common_id %></td>
    <td><%= common_feast.feast_id %></td>
    <td><%= link_to 'Show', common_feast %></td>
    <td><%= link_to 'Edit', edit_common_feast_path(common_feast) %></td>
    <td><%= link_to 'Destroy', common_feast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Common feast', new_common_feast_path %>
