<p id="notice"><%= notice %></p>

<p>
  <b>Common:</b>
  <%= @common_feast.common_id %>
</p>

<p>
  <b>Feast:</b>
  <%= @common_feast.feast_id %>
</p>


<%= link_to 'Edit', edit_common_feast_path(@common_feast) %> |
<%= link_to 'Back', common_feasts_path %>
